.btn1 {
  background-color: #1C2340;
  color: #F0DAC5;
  width: 5vw;
  align-self: center;
  border: 0;
  line-height: 4vh;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: 0.4s;
}

.btn1:hover {
  font-weight: bold;
    color: #1C2340;
  background-color: #04C050;
}

.art2 {
  font-size: 0.6em;
  text-decoration: underline;
}
.art1 {
  text-transform: uppercase;
  font-size: 2.2em;
  color: #F0DAC5;
  font-weight: 700;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}
article,
span {
  cursor: default;
}
.signup {
  padding: 3%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: verdana;
  font-size: 1em;
  background-color: #50223C;
  color: #fff;
  /* box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.4); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: ease-in 0.3s;
  z-index: 0;
  align-items: center;
  position: fixed;
  transform: translate(60%, -55%);
}
.signup--show {
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.signup span {
  font-size: 2em;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

.signup input {
  border: 1px solid #293745;
  border-radius: 5px;
  line-height: 2em;
  width: 15vw;
}
.btn2 {
  background-color: #1C2340;
  color: #F0DAC5;
  font-weight: bold;
  width: 70%;
  align-self: center;
  border: 0;
  line-height: 3vh;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: 0.4s;
}

.btn2:hover {
  background-color: #F0DAC5;
  color: #1C2340;
}
