.usercard {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #50223C;
  color: #F0DAC5;
  padding: 1%;
  text-align: left;
  position: absolute;
  margin: 10px;;
  min-width: 250px;
  flex: 1;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  opacity: 1;
}



.userImage {
  border: 1.6px solid #1C2340;
  border-radius: 12px;
  width: 40%;
  height: auto;
  position: relative;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details button{
    width: 50%;
    text-overflow: clip;
}
