.header{
    text-align: center;
    padding: 2%;
    font-size: 6vh;
    background-color: #1C2340;
    color: #F0DAC5;
    font-family: verdana;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}