.addpost {
  background-color: #50223c;
  color: #f0dac5;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  padding: 4%;
  position: absolute;
  /* overflow-y: hidden; */
  top: 30%;
  left: 50%;
  align-self: center;
  /* overflow-y: scroll; */
  display: flex;
  justify-content: center;
  transform: scale(130%,130%);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  scroll-behavior: smooth;
}

.addpost--show {
  opacity: 1;
  pointer-events: all;

}
.btnn{
  background-color: #f0dac5;
  font-weight: 600;
  color: #1c2340;
  padding: 1%;
  border-radius: 20px;
  align-self: center;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.4s;
  cursor: pointer;
}

.btnn:hover{
  background-color: #1c2340;
  color: #f0dac5;
}

.bodyinput{
  width:95%;
  height: 100px;
  resize: none;
}

