.addpost {
  background-color: #50223c;
  color: #f0dac5;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  padding: 1%;
}

.addpost--show {
  opacity: 1;
  pointer-events: all;
}
.btnn{
  background-color: #f0dac5;
  font-weight: 600;
  color: #1c2340;
  padding: 1%;
  border-radius: 20px;
  align-self: center;
  border: 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  cursor: pointer;
}

.btnn:hover{
  background-color: #1c2340;
  color: #f0dac5;
}

.bodyinput{
  width:95%;
  height: 100px;
  resize: none;
}